<%- include('header') %>

<form class="form" method="GET" action="/quotation">
  <input name="quotation" class="text" placeholder="Dolar quotation" type="number">
  <input name="quantity" class="text" placeholder="Dolar quantity" type="number">
  <button class="button">Convert!</button>
</form>

<%- include('footer') %>